* {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 微软雅黑;
    overflow: hidden;
}

#menuC {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #065FB9;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-image: -moz-linear-gradient(top, #EBEBEB, #BFBFBF);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBEBEB), color-stop(1, #BFBFBF));
    z-index: 1;
}

#menuC a {
    color:#333333;
    text-decoration:none
}

#ddtree {
    position:relative;
    width: 75%;
    height: 720px; 
    background: #ffffff ;
    margin:20px auto;
    border-radius: 12px 12px 12px 12px
}
